<nav class=" navbar-light bg-primary ">
    <table>
        <tr>
            <td><a class="navbar-brand" href="/cursos">
                <img src="img/senac.png" width="100px">
                </a></td>

            <td>
                <center><h3>Palestras, workshops e Lives </h3></center> </td>
            
                
        </tr>

    </table>
    
    

   







</nav>