<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body  background="img/bg.jpg" >
    <%- include('partials/navbar.ejs') %>
 
    <div class="container">
        <div class="card1" id="cadastro">
            <center><div class="card-headerindex">
                <h1></h1> 
            </div>
            <div class="card-body">
                
                
                
                <a href="/cadastro"><button  class="btn btn-danger"  >Cadastre-se para assistir os videos do Senac</button></a>
    
            
            </div></center>
              
        </div>  
    </div>
          
</body>

<%- include('partials/footer.ejs') %>

</html>